# folder
__pycache__/
huggingface_hub/
huggingface_hub-0.21.4.dist-info/
numpy/
numpy.libs/
numpy-1.26.4.dist-info/
safetensors/
safetensors-0.4.2.dist-info/
tokenizers/
tokenizers-0.15.2.dist-info/
torch/
pandas/
pandas-2.2.1.dist-info/
pandas.libs/
~orch/
~orch-2.2.1.dist-info/
~orchgen/
~unctorch/
torch-2.2.1+cu121.dist-info/
torchaudio/
torchaudio-2.2.1+cu121.dist-info/
torchvision/
torchvision-0.17.1+cu121.dist-info/
torio/
transformers-4.39.0.dev0.dist-info/
accelerate/
accelerate-0.27.2.dist-info/
bitsandbytes/
bitsandbytes-0.43.0.dist-info/
psutil/
psutil-5.9.8.dist-info/
tests/
accelerate-0.28.0.dist-info/
scikit_learn-1.4.1.post1.dist-info/
scipy-1.12.0.dist-info/


# file
/accelerate-config.exe
/accelerate-estimate-memory.exe
/accelerate-launch.exe
/accelerate.exe